<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Meal Tracker</title>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main id="app">
        <section class="meals-container">
            <header>
                <h1>Meal Tracker</h1>
                <% if (page == "tracker") { %>
                <p><strong>Total calories:</strong> <span class="total">0</span></p>
                <% } %>
            </header>

            <%- body %>
        </section>
    </main>
    <% if (page == "tracker") { %>
        <script src="js/meal.js"></script>
    <% } %>
    
</body>
</html>